/*
 * Coredump flash partition for qemu_cortex_m3 tests.
 * Flash is 256KB (0x0 - 0x40000).
 * Place 12KB coredump partition at the end.
 */

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		coredump_partition: partition@3d000 {
			label = "coredump";
			reg = <0x3d000 0x3000>;
		};
	};
};
